* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-rows: minmax(5vh,auto) minmax(85vh,auto) minmax(10vh,auto);
    grid-template-columns: 20vw 1fr;
    grid-template-areas:
      'sidebar header'
      'sidebar content'
      'sidebar footer';
    background-color: #f2e9de;
    color: #575279;
}

@media screen and (max-width: 400px) {
    .container {
        grid-template-rows: minmax(5vh,auto) minmax(5vh,auto) minmax(85vh,auto) minmax(10vh,auto);
        grid-template-columns: 100%;
        grid-template-areas:
          'header'
          'sidebar' 
          'content'
          'footer';
    }
}

a:link {
    color: #286983;
    text-decoration: none;
}
a:visited {
    color: #286983;
}
a:hover {
    color: #b4637a;
}

.header {
    grid-area: header;
    position: sticky;
    top: 0;
    padding: 0.5rem;
}

.sidebar {
    grid-area: sidebar;
}
.sidebar.hidden {
    padding-top: 2rem;
    padding-left: 0.5rem;  
}
.sidebar.expanded {
    padding: 0.5rem;
    background-color: #fffaf3;
}
.content {
    grid-area: content;
    padding-top: 0.5rem;
    padding-left: 1rem;      
}
.footer {
    grid-area: footer;
    text-align: end;
    align-self: end;
    padding: 0.5rem 1rem;
}

.sans-serif {
    font-family: 'Open Sans', sans-serif;
}
.monospace {
    font-family: 'Cutive Mono', monospace;  
}

nav ul {
    text-align: end;
}
nav li {
    display: inline-block;
    padding-right: 1rem;
}

button {
    font: inherit;
    background-color: inherit;
    border: none;
    padding: 0.3rem;
    
}
button[name="hide"] {
    float: right;
}

.content button[name="add_note"]::first-letter {
    font-size: 1.5rem;
}
.content button:hover, .sidebar > button:hover {
    border: 0.1rem solid #9893a5;
    color: #b4637a;
}

.menu{
    clear:both;
    text-align: center;
    line-height: 2rem;
}

.new_note {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.new_note > button {
    font-size: 2rem;
    line-height: 0.5;
}

textarea {
    background-color: #fffaf3;
    border: None;
}
.action button {
    display: block;
}

#delete, #delete:hover {
    color: #b4637a;
    padding: 0 0.2rem;
}

#save, #save:hover {
    color: #286983;
    padding: 0 0.2rem;
}